# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.braille-dots.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\braille-dots\.idea\.idea.braille-dots\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
